/* Side menu */
#side-menu{
	background:#444;
}
#side-menu *{
	color:#f1f1f1;
}
#side-menu ul{
	padding:0;
}
#side-menu li {
	padding: 10px 0;
	list-style:none;
	border-bottom:1px solid #666;
}
.h-100{
	height:100%;
}
